
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  font-family: Helvetica;
}

body, h1, h2, p {
   
  margin: 0;
  padding: 0;
  
}




.header {
    background-color: turquoise;
    color: #fff;
   position: fixed;
    z-index: 1000;
    width: 100%;
    
}

.logo {
  display: inline-block;
  margin: 15px; /* margin: 20px was off */
  
  height: 60px;
  width: auto; /* correct proportions to specified height */
  border-radius: 50%;
    
       
}



.navbar {
  overflow: hidden;
  background-color: turquoise;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  
  

}

.navbar a {
  display: block;
  padding: 10px 10px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  
}

.dropdown {
  
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: orange;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: orange;
}

.dropdown:hover .dropdown-content {
  display: block;
}





h1{
  text-align: center;
  font-size: 50px;
 

}


img{
  max-width: 320px;
  border: 3px solid #fff;
 
}

.image-a{
  float: left;
}

.image-b{
  float: right;
}

.image-c{
  float: left;
  height: 200px;
}

.image-d{
  float: right;
}

.image-e{
  float: left;
}

.information-body{
  background-image: url('image\\Putrajaya_wallpaper3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat ;
}

.recreation-body{
  background-image: url('image\\Putrajaya_wallpaper2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat ;
  padding-bottom: 20px;
  
}
.wrapper{
  margin: 150px auto;
  width: 70%


}

.wrapper:hover{
   transform: scale(1.1); 
    
  }


#part1 {
 
  padding: 20px;
  
  background-image: url('image\\Putrajaya_wallpaper3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat ;
}

.text-box{
  background-color: lightgreen;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  
}




#part2 {
  background-image: url('image\\Putrajaya_wallpaper.jpg');
  text-align: center;
  padding: 100px;
  
}

#part2 p{
  background-color: white;
  
}

#part2 h3{
  text-align: left;
}

.image-local {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adjust the gap between images */
}

.image-gallery img {
  max-width: 100%; 
  height: auto; /* Maintain the aspect ratio */
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td{
  background-color: #f2f2f2;
}

th {
  background-color: #f2f2f2;
}

#table-container {
  position: relative;
  
}



#table-image {
  max-width: 60%;
  height: auto;
 
  
}

#part6{
  text-align: center;
  padding: 100px;
}





.recentNews {
  background-color: orange 
}
.recentNews .news-title {
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size:55px;
  font-weight:bold;
  color: #fff;
}
.recentNews .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.recentNews .ct-blog {
  margin-bottom: 30px;
}
.ct-blog .inner {
  background-color: #FFF;
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 100%;
}
.ct-blog .inner:hover {
  background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
  height: 180px;
  overflow: hidden;
}
.ct-blog .fauxcrop img {
  width: 100%;
}
.ct-blog-content {
  display: table;
  padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
  border-right: 1px solid #95A5A6;
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}
.ct-blog-content .ct-blog-date span {
  font-size: 16px;
  color: rgb(20, 117, 175);  
  font-weight: 700;
  display: block;
  line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
  font-size: 25px;
  color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
  color: #000;
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding: 0 20px;
  vertical-align: top;
}
.btn-news {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.btn-news.btn-contests a {
  color: #fff;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
  color: #000;
}






footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    
  }


.gallery-image img{
  max-width: 100%;
  object-fit: contain;
  width: 400px;
  height: 300px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
 
.gallery-image img:hover{
  filter: grayscale(1);
  transform: scale(1.03);
}




 




























  